SOURCE URL: https://seer.cancer.gov/help/seerstat/seer-stat-configuration/system-requirements
FINAL URL: https://seer.cancer.gov/help/seerstat/seer-stat-configuration/system-requirements
HTTP: 200
CONTENT-TYPE: text/html;charset=utf-8
======================================================================
System Requirements — SEER*Stat Help System 

 An official website of the United States government

 Search Site 

 Search 

 only in current section 

 SEER*Stat Help System

 Home 

 SEER*Stat Configuration 

 System Requirements

 System Requirements

 Navigation 

 Home

 Getting Started

 SEER*Stat Configuration

 System Requirements

 Local vs. Client Server Mode

 Server Version Mismatch

 Profiles

 Getting Help

 Data

 Tutorials

 SEER*Stat Basics

 Frequency Session

 Rate Session

 Survival Session

 Limited-Duration Prevalence Session

 MP-SIR Session

 Left-truncated Life Tables Session

 Case Listing Session

 Common Dialogs

 Equations and Algorithms

 Glossary

 System Requirements 
 
 https://seer.cancer.gov/help/seerstat/seer-stat-configuration/system-requirements 
 https://seer.cancer.gov/help/seerstat/@@site-logo/seer-desktop.png 

 To run SEER*Stat, you will need a personal computer with at least:

 A Pentium or equivalent processor.

 64 MB application RAM.

 41 MB hard disk space.

 A 32-bit or 64-bit version of Microsoft Windows - Windows 10 or later.

 Screen resolution set to 1024 by 768 pixels or greater.

 To use SEER*Stat in client-server mode , an internet connection is needed (high-speed recommended).

 .NET Framework 4.6 or higher (the files needed for this will be installed with SEER*Stat). 

 Follow SEER

 Contact Information

 Contact Us 

 Contact SEER 

 NCI LiveHelp Online Chat 

 More Information

 Careers 

 Sitemap 

 Using the SEER Website 

 Policies

 Accessibility 

 Disclaimer 

 FOIA 

 HHS Vulnerability Disclosure 

 Privacy & Security 

 Reuse of Graphics and Text 

 Website Linking 

 U.S.
 Department of Health and Human Services |
 National Institutes
 of Health |
 National Cancer
 Institute |
 USA.gov 

 NIH…Turning Discovery Into Health ®