export("KM_resolve","CIF_resolve","make_data","control.CIFresolve","align_CIF","PFS_OS_resolve")

S3method(plot, CIFresolve)
S3method(plot, KMresolve)
S3method(print, CIFresolve)
S3method(print, KMresolve)

importFrom("stats","approxfun")
importFrom("graphics", "lines", "par", "plot","legend","points")
